body {
    font-family: 'Rock Salt', cursive;
}
.header {
    position: absolute;
    top: 0;
    background-color: #222533;
    left: 0;
    right: 0;
    padding: 5px;
}
.countries {
    font-family: 'Rock Salt', cursive;
    position: absolute;
    top:50px;
    list-style: none;
    font-size: 2em;
    opacity:0.8;
}