body {
    font-family: 'Rock Salt', cursive;
    color: #fff;
}
.header {
    position: absolute;
    top: 0;
    background-color: #222533;
    left: 0;
    right: 0;
    padding: 5px;
}
.beacons {
    position: absolute;
    top:50px;
}